NEXT_PUBLIC_SUPABASE_URL=https://vzcjnobtmbknpgkrvcnu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6Y2pub2J0bWJrbnBna3J2Y251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ1NTc0NjMsImV4cCI6MjA1MDEzMzQ2M30.FAhJT7AzudTJ5G0WZUIPQLjCXdmQk6VDA8IVCN1Ir5o